In [22]:
import pandas as pd
df = pd.read_csv(r"C:\Users\erins\OneDrive\Desktop\MS_Data_analytics\44-688\Capstone_Project\scraping-glassdoor-selenium\Company_Rating_Data_Jupyter.csv", encoding='latin-1')

In [23]:
df.corr()

C:\Users\erins\AppData\Local\Temp\ipykernel_9680\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,Company ID,Size,Industry,Rating,Headquarters,Ownership,Company Age,Est Revenue
Company ID,1.000000,-0.071511,-0.049823,0.022112,0.016218,-0.010139,-0.033250,-0.091549
Size,-0.071511,1.000000,-0.049867,-0.261427,0.140795,0.180328,0.466386,0.840624
Industry,-0.049823,-0.049867,1.000000,0.004442,-0.010974,0.080460,-0.044764,-0.038972
Rating,0.022112,-0.261427,0.004442,1.000000,-0.035265,-0.141106,-0.120789,-0.231855
Headquarters,0.016218,0.140795,-0.010974,-0.035265,1.000000,-0.012353,0.135253,0.126737
Ownership,-0.010139,0.180328,0.080460,-0.141106,-0.012353,1.000000,0.166061,0.144459
Company Age,-0.033250,0.466386,-0.044764,-0.120789,0.135253,0.166061,1.000000,0.445653
Est Revenue,-0.091549,0.840624,-0.038972,-0.231855,0.126737,0.144459,0.445653,1.000000

In [14]:
df = df.drop(['Industry','Headquarters'], axis=1)

In [21]:
df[['Rating','Size','Est Revenue','Ownership','Company Age']].corr()

               Rating      Size  Est Revenue  Ownership  Company Age
Rating       1.000000 -0.261427    -0.231855  -0.141106    -0.120789
Size        -0.261427  1.000000     0.840624   0.180328     0.466386
Est Revenue -0.231855  0.840624     1.000000   0.144459     0.445653
Ownership   -0.141106  0.180328     0.144459   1.000000     0.166061
Company Age -0.120789  0.466386     0.445653   0.166061     1.000000